# -*- coding: utf-8 -*-

"""
    akkblfpim23.controllers.attribute_option_controller

    This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
"""

from .base_controller import BaseController
from ..api_helper import APIHelper
from ..configuration import Configuration
from ..http.auth.o_auth_2 import OAuth2

class AttributeOptionController(BaseController):

    """A Controller to access Endpoints in the akkblfpim23 API."""


    def get_attribute_option(self):
        """Does a GET request to /rest/v1/attributes/main_color/options/white.

        Assuming that the given codes are respectively the code of an existing
        attribute and an existing option of this attribute

        Returns:
            void: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.get_base_uri()
        _query_builder += '/rest/v1/attributes/main_color/options/white'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare and execute request
        _request = self.http_client.get(_query_url)
        OAuth2.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

    def get_attribute_options(self):
        """Does a GET request to /rest/v1/attributes/main_color/options.

        TODO: Add Description

        Returns:
            void: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.get_base_uri()
        _query_builder += '/rest/v1/attributes/main_color/options'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare and execute request
        _request = self.http_client.get(_query_url)
        OAuth2.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)
