# -*- coding: utf-8 -*-

"""
    akkblfpim23.controllers.misc_controller

    This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
"""

from .base_controller import BaseController
from ..api_helper import APIHelper
from ..configuration import Configuration
from ..http.auth.o_auth_2 import OAuth2

class MiscController(BaseController):

    """A Controller to access Endpoints in the akkblfpim23 API."""


    def create_authentification_by_password(self,
                                            body,
                                            content_type):
        """Does a POST request to /oauth/v1/token.

        TODO: Add Description

        Args:
            body (AuthentificationByPasswordRequest): TODO: type description
                here. Example: 
            content_type (string): TODO: type description here. Example: 

        Returns:
            void: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.get_base_uri()
        _query_builder += '/oauth/v1/token'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare headers
        _headers = {
            'Content-Type': content_type
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, headers=_headers, parameters=APIHelper.json_serialize(body))
        OAuth2.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

    def create_authentification_by_refresh_token(self,
                                                 body,
                                                 content_type):
        """Does a POST request to /oauth/v1/token.

        TODO: Add Description

        Args:
            body (AuthentificationByRefreshTokenRequest): TODO: type
                description here. Example: 
            content_type (string): TODO: type description here. Example: 

        Returns:
            void: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.get_base_uri()
        _query_builder += '/oauth/v1/token'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare headers
        _headers = {
            'Content-Type': content_type
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, headers=_headers, parameters=APIHelper.json_serialize(body))
        OAuth2.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)
